.container.padding0
  -@logo="adverts/logo.png"
  %header.putcolor
    =image_tag("adverts/cabecera.jpg")
    .capt
      .row.putcolor
        .small-12.columns
          .txt-helper
            .txt
              %h1.main_h1
                %span.wrap Un anuncio...
              %h2.main_h2
                %span.wrap ...una nueva
        .login-txt
          .linkto
            %a
              Acceso anunciantes