.container.padding0
  %nav.navbar.navbar-inverse.navbar-static-top.padding0{role: "navigation"}
    .container
      .navbar-header
        %button{type: "button", class:"navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span{class:"icon-bar"}
          %span{class:"icon-bar"}
          %span{class:"icon-bar"}
      %a.navbar-brand.text-logo{href: "#"}
        %i.icon-signout
          = content_for :window_title
      .navigation.navbar-collapse.collapse
        %ul.nav.navbar-nav.menu-right
          %li.active
            %a.fontsize14{href:"#belleza"}
              Belleza y estética
          %li
            %a.fontsize14{href:"#moda"}
              Moda
          %li
            %a.fontsize14{href:"#restaurantes"}
              Restaurantes
          %li
            %a.fontsize14{href:"#ocio"}
              Ocio
          %li
            %a.fontsize14{href:"#salud"}
              Salud
          %li
            %a.fontsize14{href:"#otros"}
              Otros