.container.new_padding.putcolor
  .row.put_color_button.margin_botton_menu
    .col-sm-1.mbox.put_color_button
    .col-sm-2.put_color_button.mbox
      %a.acolor
        Belleza
    .col-sm-2.put_color_button.mbox
      %a.acolor
        Moda
    .col-sm-2.put_color_button.mbox
      %a.acolor
        Restaurantes
    .col-sm-2.put_color_button.mbox
      %a.acolor
        Ocio
    .col-sm-2.put_color_button.mbox
      %a.acolor
        Otros
    .col-sm-1.put_color_button